# Python
__pycache__/
*.py[cod]
*$py.class
backend/venv/
*.egg-info/
dist/
build/

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
